@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Open+Sans:400,600,700');

html{
    font-size: 18px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

/* Global */

.container{
    width: 90%;
    max-width: 1170px;
    margin: auto;
}

ul{
    padding: 0;
    margin: 0;
}

.sections{
    margin-top: 10rem;
}

.sectionTitle h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.8rem;
    font-weight: 500; 
}

.sectionTitle p{
    margin: 0.3rem 0px;
    line-height: 1.8;
}

.width50{
    width: 50%;;
}

.width70{
    width: 70%;
}

.titleWidth{
    width: 50%;
}

.mt1{
    margin-top: 1rem;
}

.bigText{
    font-size: 1.1rem;
}

.lightGrey{
    color: #a0a0a0;
}

.ntm{
    margin-top: 0;
}

.hidden {
    display: none;
}

.showMenu{
    display: block;
}

.smallMargin{
    margin-bottom: 3rem !important;
}

/* Header */

header{
    background: #ffffff;
    padding: 1.5rem 0rem;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}

header a{
    color: #a0a0a0;
    text-decoration: none;
    font-size: 0.8rem;
}

ul{
    padding: 0;
    margin: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0px 15px 0px 15px;
}

header .logo{
    float: left;
    margin: 0;
}

.navWrapper{
    float: right;
}

header .logo a{
    font-size: 1rem;
    color: #020202;
}

header .current a{
    color: #565656;
    border-bottom: 2px solid #5596EE;
}

header nav ul li a{
    padding-bottom: 5px;
}

#nav:checked + .navButton{
    transform: rotate(45deg);
}

#nav:checked + .navButton i{
    background: #000000;
    transition: transfrom 0.2s ease;
}

#nav:checked + .navButton i:nth-child(1){
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .navButton i:nth-child(2){
    opacity: 0;
}

#nav:checked + .navButton i:nth-child(3){
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .navWrapper{
    z-index: 9990;
    opacity: 0.954;
    transition: all 500ms ease;
}

#nav:checked ~ .navWrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.navWrapper ul li a.active{
    color: #000000;
}

.navWrapper ul li a:hover{
    color: #000000;
}


/* Case Study Boxes */

section#boxes {
    margin-top: 4.4rem;
}

.boxDesc h4{
    font-family: 'Open Sans', serif;
    margin: 10px 0px;
    font-size: 1.2rem;
    font-weight: 600;
}

.boxDesc p{
    margin: 5px 0px;
    font-size: 1rem;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.gallery-item {
    flex-basis: 49%;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
}
.gallery-content {
    font-size: .8em;
}

.imageContainer{
    overflow: hidden;
}

.quantixImage{
    background-image: url(../images/one.png);
    height: 360px;
    background-size: cover;
    border-radius: 10px;
    background-position: center center;
}

.quantixImage:hover{
    transition:all 0.3s ease;
}


.quantixImage:hover{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.ratingsImage{
    background-image: url(../images/RatingsEngine.png);
    height: 360px;
    background-size: cover;
    border-radius: 10px;
    background-position: center center;
}

.ratingsImage:hover{
    transition:all 0.3s ease;
}

.ratingsImage:hover{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.equinoxImage{
    background-image: url(../images/equinox.png);
    height: 360px;
    background-size: cover;
    border-radius: 10px;
    background-position: center center;
}

.equinoxImage:hover{
    transition:all 0.3s ease;
}

.equinoxImage:hover{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.tedImage{
    background-image: url(../images/TEDxSIMSREE.png);
    height: 360px;
    background-size: cover;
    border-radius: 10px;
    background-position: center center;
}

.tedImage:hover{
    transition:all 0.3s ease;
}

.tedImage:hover{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
}



a.caseBoxLink{
    text-decoration: none;
    color: #020202;
}

.boxTopMargin{
    margin-top: 3rem;
}


/* Contact Me */
section#contactMe{
    margin-top: 6rem;
}

.contactLink{
    color: #5596EE;
    text-decoration: none;
}

/* Footer */

footer{
    margin-top: 7rem;
    font-size: 0.8rem;
}

/* About */
section#about{
    margin-top: 4.4rem;
}

.contentContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.aboutImage {
    flex-basis: 39%;
}

.aboutText {
    flex-basis: 45%;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.aboutImage img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.links{
    margin-top: 2rem;
}

.links p{
    margin: 0px;
}

/*  Quantix CaseStudy Pages */
section#imageFull{
    margin-top: 4.4rem;
}

section#sub{
    margin-top: 2.7rem;
}

.fullImageWrapper img{
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  width: 100%;
  height: 100%;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.wrapper .subSectionTitle{
    flex-basis: 29%;
}

.wrapper .subSectionContent{
    flex-basis: 70%;
    font-size: 1rem;
    line-height: 1.8rem;
}

.wrapper .prevCase,.wrapper .nextCase{
    flex-basis: 50%;
}

.nextCase{
    text-align: right;
}

.navLinks{
    text-decoration: none;
}

.linkLabel{
    font-size: 0.9rem;
    color: #a0a0a0;
}

.linkName{
    font-size: 1.35rem;
}

.subSectionContent p{
    margin: 0;
}

.subSectionTitle h4{
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    color: #a0a0a0;
    font-size: 1.3rem;
    font-weight: 300;
}

.prevCase,.nextCase{
    font-size: 1.1rem;
}

.mb3{
    margin-bottom: 3rem;
}

.seperator{
    border: 1px solid #efefef;
    margin: 1em 0em;
}

.subWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.subWrapper .smallSec{
    flex-basis: 50%;
    margin-bottom: 1.5rem;
}

.smallSec h6{
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

.smallSec ul{
    list-style: none;
    font-size: 1rem;
}

.paraLink a{ 
    color: #5596EE;
    cursor: pointer;
    text-decoration: none;
}

.paraLink a:hover{
    color: #5588ce;
    transition: all ease 0.3s;
}

a.paraLink{ 
    color: #5596EE;
    cursor: pointer;
    text-decoration: none;
}

a.paraLink:hover{
    color: #5588ce;
    transition: all ease 0.3s;
}

.paraHeading{
    margin-top: 0px;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.imageWrapper img{
    max-width: 820px;
}

.processImage{
    background-image: url('../images/ProcessImage.png');
    height: 200px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.eqColor{
    background-image: url('../images/eqColor.png');
    height: 200px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tedColor{
    background-image: url('../images/tedColor.png');
    height: 200px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wireFrameImage1{
    background-image: url('../images/wFrame1.png');
    height: 320px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.wireFrameImage2{
    background-image: url('../images/wFrame2.png');
    height: 320px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wireFrameImage3{
    background-image: url('../images/wFrame3.png');
    height: 510px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.wireFrameImage4{
    background-image: url('../images/wFrame4.png');
    height: 510px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.eqBox{
    display: flex;
}

.eqSketch1{
    flex-basis: 50%;
    background-image: url('../images/eqSketch1.png');
    height: 450px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.eqSketch2{
    flex-basis: 50%;
    background-image: url('../images/eqSketch2.png');
    height: 450px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imgBottomMargin{
    margin-bottom: 2rem;
}

.linkLabel{
    font-size: 0.9rem;
    color: #a0a0a0;
}

/* Animation Classes */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,45px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,45px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}



.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

#introTitle{
    animation-delay: 100ms;
    animation-duration: 1500ms;
}


/* Media Queries */


/* iPad view Start */

@media (max-width: 800px) {

    .titleWidth {
        width: 100%;
    }

    .quantixImage {
        height: 245px;
    }

    .equinoxImage {
        height: 245px;
    }

    .ratingsImage {
        height: 245px;
    }

    .boxDesc h4 {
        font-size: 1rem;
    }

    .boxDesc p {
        font-size: 0.9rem;
    }

    .aboutImage img {
        width: 100%;
        height: 380px;
        object-fit: cover;
    }

    .aboutText {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .aboutImage {
        flex-basis: 47%;
    }

    .processImage{
        background-image: url('../images/MobileView/ProcessImage_mobile.png');
        height: 120px;
        object-fit: cover;
    }

}

/* iPad view End */


/* Mobile view iPhone 7 Plus Start */

@media (max-width: 560px) {


    /*Mobile view Index Page Start*/

    .gallery-item {
        flex-basis: 100%;
        margin-bottom: 2rem;
    }

    .sectionTitle h1{
        font-size: 1.4rem;
    }

    .bigText{
        font-size: 1rem;
    }

    .titleWidth{
        width: 100%;
    }

    .sections{
        margin-top: 7rem;
    }

    .quantixImage{
        background-image: url(../images/one_small.png);
        height: 240px;
    }

    .ratingsImage{
        background-image: url(../images/RatingsEngineSmall.png);
        height: 240px;
    }

    .equinoxImage{
        background-image: url(../images/equinoxSmall.png);
        height: 240px;
    }

    .boxTopMargin{
        margin-top: 0rem;
    }

    .boxDesc h4 {
        font-size: 1rem;
    }

    .boxDesc p {
        font-size: 0.9rem;
    }

    /*Mobile view Index Page End*/

    /*Mobile view About Page End*/

    .aboutImage{
        flex-basis: 100%;
    }

    .aboutImage img {
        height: 340px;
    }

    .aboutText {
        margin-top: 2rem;
        flex-basis: 100%;
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    section#about {
        margin-top: 3rem;
    }

    /*Mobile view About Page End*/

    /*Mobile view Quantix Page End*/

    section#imageFull {
        margin-top: 2rem;
    }

    .wrapper .subSectionTitle {
        flex-basis: 100%;
        margin-bottom: 1rem;
    }

    .smallSec h6 {
        font-size: 0.9rem;
        font-weight: 600;
    }

    .smallSec ul {
        list-style: none;
        font-size: 0.9rem;
    }

    .wrapper .subSectionContent {
        flex-basis: 100%;
        line-height: 1.6rem;
        font-size: 0.9rem;
    }

    .subWrapper .smallSec {
        flex-basis: 100%;
        margin-bottom: 1rem;
    }

    section#sub {
        margin-top: 2rem;
    }

    .wrapper {
        margin-bottom: 2.5rem;
    }

    .processImage{
        background-image: url('../images/MobileView/ProcessImage_mobile.png');
        height: 120px;
        object-fit: cover;
    }

    .eqColor{
        background-image: url('../images/MobileView/eqColor_mobile.png');
        height: 120px;
        object-fit: cover;
    }

    .tedColor{
        background-image: url('../images/MobileView/tedColor_mobile.png');
        height: 120px;
        object-fit: cover;
    }

    .wireFrameImage1{
        background-image: url('../images/MobileView/wFrame1_mobile.png');
        height: 120px;
    }
    
    .wireFrameImage2{
        background-image: url('../images/MobileView/wFrame2_mobile.png');
        height: 120px;
    }

    .wireFrameImage3{
        background-image: url('../images/MobileView/wFrame3_mobile.png');
        height: 210px;
    }

    .wireFrameImage4{
        background-image: url('../images/MobileView/wFrame4_mobile.png');
        height: 210px;
    }

    .eqBox{
        display: block;
    }

    /*Mobile view Quantix Page End*/

    /* Mobile Navigation Start*/
    .navWrapper {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background:#ffffff;
        opacity: 0;
    }

    .navWrapper ul{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .navWrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 70px;

    }

    .navWrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }

    .navWrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }

    .navWrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }

    .navWrapper ul li a{
        padding: 10px 24px;
        opacity: 0;
        color: #a0a0a0;
        transform: translateX(-20px);
        transition: all 0.2s ease;
        font-size: 2.7rem;
    }

    .navButton{
        position: fixed;
        right: 10px;
        top: 15px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .navButton i{
        display: block;
        width: 20px;
        height: 2px;
        background: #000000;
        border-radius: 2px;
        margin-left: 14px;
    }

    .navButton i:nth-child(1){
        margin-top: 16px;
    }

    .navButton i:nth-child(2){
        margin-top: 4px;
        opacity: 1;
    }

    .navButton i:nth-child(3){
        margin-top: 4px;
    }

    .linkLabel{
        font-size: 0.7rem;
    }

    .linkName{
        font-size: 1rem;
    }

    /* Mobile Navigation End*/
}


